
a:link { color: rgb(49, 78, 173); text-decoration: none; }
 a:hover { color: red; text-decoration: underline; }
 a:visited { color: rgb(49, 78, 173); text-decoration: none; }
 a:active { color: yellow; }
 #header,#footer,#leftnav,#centerbody {font-family:tahoma, sans-serif;}

 #header {width:100%; text-align: center; border-radius:5px;
  background-color: rgba(24, 50, 137, 0.85); color:rgb(254,246,218); border:20px solid rgb(220, 238, 195);
  padding: 10px 10px 10px 10px;margin-bottom:30px;}

 #footer {width:70%; text-align: center; border-radius:5px;clear:left; background:rgb(220, 238, 195);
    color:rgb(49,78,173); border-bottom:5px solid rgb(192, 227, 255);padding: 2px; margin: 0 auto; margin-top:50px;}

 #leftnav,#centerbody {margin-top:10px;margin-bottom:30px; float:left;height:100%;padding-top:10px;}

 #leftnav {padding-left:10px; border:2px outset rgb(44,46,89); width:25%;font-size:0.8rem;line-height: 1.6;
    margin-left:10px; margin-right:20px}

 #centerbody {border:2px outset rgb(44, 46, 89); text-align:center; width:65%; height:auto}

 .menu2 {position:relative}
 .bodyheight {line-height: 1.4; font-size: 16px; text-align: left;padding:20px;}
 .bodyheight-list {line-height: 1.4; font-size: 16px; text-align: left;padding:40px;}
 .centerblue {text-align:center; color:rgb(49, 78, 173);}
 .bold {font-weight:bold;}
 .headshot{display: flex; justify-content: center;}
 .text-container {
   text-align:left;
   line-height: 2em;
   column-count: 2;
   column-gap: 40px;}
 .left-align{text-align:left; padding-left:20px; padding-right:20px;}
 .table {
  border-collapse: separate;
  border-spacing: 15px;
  text-align:left;
  padding-left:10px; padding-right:10px;
  margin-left:10px; margin-right:10px
}
 .semi-transparent-box {
    background-color: rgba(170, 206, 198, 0.9);}
 h1 {
      font-size: 4.5rem;
      line-height:0.4em;
    }
 h2 {
     font-size: 2rem;
      line-height:0.4em;
    }
 h3 {
      font-size: 1rem;
      line-height:1.2em;
    }
 h4 {
      font-size: .7rem;
      line-height:1em;
 }

.bitcount-grid-double-ink-title {
  font-family: "Bitcount Grid Double Ink", system-ui;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
    }
   